# Microsoft Visual Studio files
*.ncb
*.opensdf
*.sdf
*.suo
*.user
Debug
Release

# Compiled Object files
*.o

# OS X junk
.DS_Store

# Precompiled headers
*.pch

# Xcode junk
project.xcworkspace/
xcuserdata/

# Other files
*.swp
*.webm
